body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(93, 232, 97, 0.23);
    font-family: Anton;

}

.title {
    font-size:1.9em;
    color:#05602e;
    text-align: center;
    margin-bottom: 1em;
    margin-top:1em;
}
.title h1 {
    margin:0;
}


.divPoint {
    margin:0;
    border:0.01em solid rgb(185, 182, 182);
}
.red {
    background-color: rgb(255, 0, 0);
}
.black {
    background-color: rgb(0, 0, 0);
}

.clear {
    background-color: rgb(255, 255, 255);
}


#clearBtn{
    font-size:1.5em;
    margin-top:1em;
    font-size:1.5em;
    padding:0.2em;
    color:rgb(143, 44, 44);
    border:1px solid black;
    background-color: white;
}
#red {
    @extend #clearBtn;
    background-color:red;
    color:white;
}
#black {
    @extend #clearBtn;
    background-color: black;
    color:white;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom:2em;
    width:21em;

}
.buttons2 {
    display:flex;
    justify-content: space-evenly;
    width:21em;
}

.buttonDiv button {
    font-size:1.5em;
    padding:0.2em;
    color:rgb(143, 44, 44);
    border:1px solid black;
    background-color: white;

}



//////////////////////////////////


.container {
    touch-action: none; 
    border:10px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.container-medium {
    touch-action: none; 
    border:10px solid black;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-columns: repeat(32, 1fr);
}

.container-big {
    touch-action: none; 
    border:10px solid black;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-columns: repeat(64, 1fr);
}

